<div class="forgot-bg">

  <div class="forgot-card">

    <h2>Reset Password</h2>

    <p class="subtitle">
      Verify your registered Indian mobile number
    </p>

    <div class="input-group">
      <input
        [(ngModel)]="phone"
        type="tel"
        maxlength="10"
        placeholder="Enter Registered Mobile Number"
        [disabled]="otpSent"
      >
    </div>

    <button (click)="sendOtp()" *ngIf="!otpSent">
      Send OTP
    </button>



    <div *ngIf="otpSent">

      <div class="input-group">
        <input
          [(ngModel)]="otp"
          maxlength="6"
          placeholder="Enter OTP"
        >
      </div>

      <div class="input-group">
        <input
          [(ngModel)]="newPassword"
          type="password"
          placeholder="Enter New Password"
        >
      </div>

      <div class="input-group">
        <input
          [(ngModel)]="confirmPassword"
          type="password"
          placeholder="Confirm New Password"
        >
      </div>

      <button (click)="resetPassword()">
        Reset Password
      </button>

    </div>

    <p class="error" *ngIf="message">
      {{message}}
    </p>

    <p class="login-text">
      Remember password?
      <a routerLink="/">Login</a>
    </p>

  </div>

</div>
