<div class="form-center">

  <div class="form-card">

    <h2>💧 Water Quality Checker</h2>

    <input type="text" [(ngModel)]="data.area" placeholder="Enter Area">

    <input type="number" [(ngModel)]="data.ph" placeholder="pH Level (0–14)">

    <input type="number" [(ngModel)]="data.turbidity" placeholder="Turbidity (NTU)">

    <input type="number" [(ngModel)]="data.temperature" placeholder="Temperature (°C)">

    <button (click)="submit()">Check Quality</button>

    <p class="error" *ngIf="message">{{message}}</p>

    <div *ngIf="result">
      <h3>Result: {{result.quality}}</h3>
    </div>

  </div>

  <!-- PIE CHART -->
  <canvas id="myChart"></canvas>

</div>
