.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
}

canvas {
  margin-top: 20px;
  width: 300px !important;
}
